@import url("reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* Tag */

html {
  box-sizing: border-box;
  font-family: 'Pretendard';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.015em;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

input {
  outline: none;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  caret-color: auto;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  background: url("/icons/i-close-mini.png") center center no-repeat;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.4;
}

table th, table td {
  padding: 0 5px;
  border-left: #E8E8E8 1px solid;
  border-bottom: #E8E8E8 1px solid;
  border-top: none;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
  min-width: 1200px;
}

.button > i {
  margin-right: 5px;
}

/* Icon */

i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  line-height: 0;
  vertical-align: middle;
}

i.i-right {
  background-image: url("/icons/i-right.png");
  width: 6.71px;
  height: 11.31px;
  margin: 6.35px 8.35px;
}

i.i-left {
  background-image: url("/icons/i-left.png");
  width: 6.71px;
  height: 11.31px;
  margin: 6.35px 8.35px;
}

i.i-first {
  background-image: url("/icons/i-first.png");
  width: 13.06px;
  height: 11.31px;
  margin: 6.35px 5.47px;
}

i.i-last {
  background-image: url("/icons/i-last.png");
  width: 13.06px;
  height: 11.31px;
  margin: 6.35px 5.47px;
}

i.i-dropdown {
  background-image: url("/icons/i-dropdown.png");
  width: 11.3px;
  height: 6.7px;
}

i.i-drop-down.desc {
  transform: rotate(180deg);
}

i.i-refresh {
  background-image: url("/icons/i-refresh.png");
  width: 15px;
  height: 17px;
  margin-bottom: 1.5px;
}

i.i-search {
  background-image: url("/icons/i-search.png");
  width: 16px;
  height: 16px;
}

i.windows {
  background-image: url("/imgs/os/windows.svg");
  width: 18px;
  height: 18px;
}

i.mac {
  background-image: url("/imgs/os/mac.svg");
  width: 15px;
  height: 18px;
}

i.chrome {
  background-image: url("/imgs/browser/chrome.svg");
  width: 18px;
  height: 18px;
}

i.firefox {
  background-image: url("/imgs/browser/firefox.svg");
  width: 18px;
  height: 18px;
}

i.edge {
  background-image: url("/imgs/browser/edge.svg");
  width: 18px;
  height: 18px;
}

i.opera {
  background-image: url("/imgs/browser/opera.svg");
  width: 18px;
  height: 18px;
}

i.safari {
  background-image: url("/imgs/browser/safari.svg");
  width: 18px;
  height: 18px;
}

i.whale {
  background-image: url("/imgs/browser/whale.svg");
  width: 18px;
  height: 18px;
}

img.img-main-logo {
  width: 158px;
  height: 28px;
}

/* Class */

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1400px;
}

.header {
  height: 90px;
  min-height: 90px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 40px;
  font-weight: 400;
  gap: 15px;
  background-color: #0054A9;
  min-width: 1400px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e4e6ea;
  width: 80rem;
}

.header .title span {
  font-size: 14px;
  margin-top: 3px;
}

.footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  display: flex;
  gap: 5.92px;
  align-items: center;
  width: 100%;
  min-width: 800px;
  justify-content: center;
  padding-bottom: 30px;
}

.footer span:nth-child(2) {
  font-weight: 600;
}

.main-content {
  min-width: 800px;
  padding: 30px 40px;
  flex: 1;
}

.dropdown {
  position: relative;
  width: 170px;
  font-size: 13px;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  padding: 5px 0 5.2px 10px;
}

.dropdown .i-drop-down {
  position: absolute;
  right: 13px;
  top: 13px;
}

.dropdown-select {
  position: absolute;
  top: 34px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 5px 8px 0 #0000001A;
  border-radius: 5px;
  overflow: hidden;
  color: #8F8F8F;
  z-index: 5;
  visibility: hidden;
  display: none;
}

.dropdown-select.open {
  display: block;
  visibility: visible;
}

.dropdown-select-option {
  padding: 8px 10px;
  cursor: pointer;
  background-color: #FFFFFF;
  display: flex;
  width: 100%;
  align-items: center;
  height: 34px;
}

.dropdown-select-option:hover {
  background-color: #E8E8E8;
}

.table-thead tr th {
  border-top: 1px solid #8F8F8F;
  border-bottom: 1px solid #8F8F8F;
  background-color: #F0F3F7;
  font-weight: 700;
  white-space: nowrap;
  padding: 7px 10px;
}

.table-thead {
  margin-top: 12px;
}

.table-thead.scroll-visible {
  margin-right: 7px;
}

.table-thead table thead tr th span {
  position: relative;
  cursor: pointer;
}

.table-thead table thead tr th span span {
  padding-right: 2px;
}

.table-thead table thead tr th span button {
  display: inline-block;
  position: absolute;
  bottom: -1px;
}

.table-thead table thead tr th span button.filter {
  display: inline-block;
  background-color: #FFFFFF;
  width: 18px;
  height: 18px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  bottom: -1.5px;
  cursor: pointer;
}

.table-thead table tr th:first-child {
  border-left: none;
}

.table-thead table tr th > i {
  margin-left: 8px;
  margin-bottom: 4px;
}

.table-thead table tr th > button {
  margin-left: 8px;
  margin-bottom: 4px;
}

.table-tbody {
  overflow-x: hidden;
  border-bottom: 1px solid #8F8F8F;
  max-height: 601.5px;
}

.table-tbody table td {
  height: 30px;
}

.table-tbody table tr td:first-child {
  border-left: none;
}

.main-content-table {
  height: 631px;
}

.main-content-table table {
  width: 100%;
}

.main-content-table .table-tbody {
  height: auto;
  max-height: 602px;
}

.main-content-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  width: 100%;
}

.pagination-wrap {
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 24px;
  color: #8F8F8F;
  cursor: pointer;
  /* margin-left: 8px; */
  font-size: 15px;
}

.pagination button.active {
  background-color: #E8E8E8;
  border-radius: 16px;
  color: #000000;
}

.pagination button.pagination-num {
  padding: 0 8px;
}

.pagination button.pagination-num span {
  margin-right: 1px;
}

.total-count {
  color: #8F8F8F;
  font-size: 13px;
}

.dropdown .i-dropdown {
  position: absolute;
  right: 13px;
  top: 13px;
}

.content-bottom-info {
  display: flex;
  justify-content: space-between;
}
.i-wrap {
  width: 80px;
  height: 80px;
  background-color: #F0F3F7;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.button:disabled {
  background-color: #8F8F8F;
  cursor: default;
}

.button:disabled:hover {
  opacity: 1;
}

.td-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-wrapper {
  position: relative;
  display: flex;
}

.tooltip-box {
  visibility: hidden;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 4px;
  z-index: 1000000;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}

.tooltip-box.top {
  bottom: 125%;
  top: auto;
}

.tooltip-box.top::after {
  top: 100%;
  bottom: auto;
  border-color: #333 transparent transparent transparent;
}

.tooltip-box.bottom {
  top: 125%;
  bottom: auto;
}

.tooltip-box.bottom::after {
  bottom: 100%;
  top: auto;
  border-color: transparent transparent #333 transparent;
}
.input-search {
  padding: 10px 36px 10px 10px;
  width: 200px;
}

.input-search::placeholder {
  color: #8F8F8F;
}

.main-content-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 34px;
}

.main-content-top-left {
  display: flex;
  gap: 8px;
}

.search-wrap {
  position: relative;
  height: 100%;
}

.search-wrap input {
  height: 100%;
}

.search-wrap button {
  position: absolute;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  right: 8px;
  top: 7px;
}

.refresh-btn {
  width: 34px;
  height: 34px;
  background-color: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

/* At-규칙 */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: none;
  box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: none;
  box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b9bec2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9da5ab;
}

::-webkit-scrollbar-button {
  display: none;
}